{% extends 'base.html' %} {% load static %} {% block content %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
  <div class="max-w-md mx-auto bg-white shadow-md p-8 rounded-lg">
    <h2 class="text-2xl font-bold text-center mb-6 text-amber-700">Add Category</h2>

    <form action="{% url 'add_category' %}" method="post" class="space-y-4">
      {% csrf_token %}

      <div class="form-styled">{{ form.as_p }}</div>

      <button type="submit" class="w-full py-2 bg-amber-700 text-white rounded-md hover:bg-amber-800 transition">Save</button>
    </form>
  </div>
{% endblock %}
