{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="max-w-md mx-auto bg-white shadow-md p-8 rounded-lg">
    <h2 class="text-2xl font-bold text-center mb-6 text-amber-700">Login</h2>

    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" class="w-full py-2 bg-amber-700 text-white rounded-md hover:bg-amber-800 transition">Login</button>
    </form>
     <p class="text-center text-sm text-gray-500 mt-4">
        Dont have an account?
        <a class="underline" href="{% url "register" %}">Sign Up</a>
    </p>
  </div>
{% endblock %}
