# .ebextensions/01_django.config

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: coffee_shop/wsgi.py  # Ajusta si tu wsgi.py está en otra ruta

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
