<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">Coffee Nascita</div>
      <ul class="navbar-links">
        <li><a href="/store/">Home</a></li>
        <li><a href="/store/menu-list/">Menu</a></li>
        <li><a href="/store/add-menu-item/">Add Menu Item</a></li>
        <li><a href="/store/add-category/">Add Category</a></li>
        {% comment %}
        <li><a href="/contact/">Contact</a></li>
        {% endcomment %}
      </ul>
      <button class="navbar-toggle" onclick="toggleMenu()">☰</button>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>

    <script>
      function toggleMenu() {
        document.querySelector(".navbar-links").classList.toggle("active");
      }
    </script>
  </body>
</html>
