<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
      body {
        font-family: 'Poppins', sans-serif;
      }
    </style>

    {% load static %} {% comment %}
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    {% endcomment %}
  </head>

  <body class="bg-gray-50 text-gray-900 min-h-screen flex flex-col">
    <!-- Header -->

    <header class="bg-white shadow-md">
      <!-- Navbar -->
      <nav class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
        <a href="/store/" class="text-2xl font-bold text-amber-700">CoffeeNascita</a>

        <!-- Botón mobile -->
        <button class="md:hidden text-3xl" onclick="toggleMenu()">☰</button>

        <!-- Links -->
        <ul id="mobileMenu" class="hidden md:flex space-x-6 text-gray-700 flex-col md:flex-row md:space-x-6 absolute md:static bg-white md:bg-transparent left-0 top-16 w-full md:w-auto shadow md:shadow-none p-6 md:p-0">
          <li>
            <a href="/store/" class="hover:text-amber-600">Home</a>
          </li>
          <li>
            <a href="/store/menu-list/" class="hover:text-amber-600">Menu</a>
          </li>
          {% comment %} <li>
            <a href="/store/add-menu-item/" class="hover:text-amber-600">Add Menu Item</a>
          </li>
          <li>
            <a href="/store/add-category/" class="hover:text-amber-600">Add Category</a>
          </li> {% endcomment %}

          <li class="flex items-center space-x-3">
            {% if user.is_authenticated %}
              <span class="text-amber-700 font-semibold">Welcome, {{ user.username }}!</span>
              <a href="#" class="text-amber-700 hover:text-amber-600 font-medium" >My Order</a>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="px-3 py-1 bg-red-500 text-white text-sm rounded hover:bg-red-700 transition">Logout</button>
              </form>
            {% else %}
              <a href="{% url 'login' %}" class="text-amber-700 hover:text-amber-600 font-medium">Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main -->
    <main class="max-w-7xl mx-auto px-6 py-10 flex-grow">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-200 py-6 text-center text-sm text-gray-600">© 2025 CoffeeNascita</footer>

    <script>
      function toggleMenu() {
        document.getElementById('mobileMenu').classList.toggle('hidden')
      }
    </script>
  </body>
</html>
